.footer-container {
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    min-height: 5vh;
    color: white;
    justify-content: center;
    padding-top: 30px;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.copyright {
    font-size: 12px;
    text-transform: uppercase;
    color: dimgray;
}

@media only screen and (max-width: 414px) {
    .footer-container {
        min-height: 5vh;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
}